* {
    width: auto;
	margin: auto;
    --font-family: "Roboto", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Play", sans-serif;
    font-family: var(--font-family);
}
/* body {
	color: #333333;
	font-family: 'CorsicaMX';
	font-size: 17px;
	line-height: 21px;
} */
body {
    background-image: url(../img/header_banka_css.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
a {
    text-decoration:none;
	display: flex;
	justify-content: center;
	align-items: center;
    font-weight: 400;
    font-size: 18px;
    color: #011c44;
}
header {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
}
nav{
    display: flex;
    padding: 32px 0;
}
ul {
    padding: 0;
}
.menu li {
    padding: 0 28px;
}
.contacts li {
    padding: 0 16px;
}
nav ul {
    display: flex;
}
nav li {
	list-style:none;
}
nav a:hover {
    color:blue;
}
.contacts img:hover {
    transform: scale(120%);
    transition-duration: 1s;
}
nav .active{
    color: #2b7fff;
}
.banka {
    padding: 17px 0 0 205px;
}
.banka button {
    background: #2B7FFF;
    border-radius: 32px;
    width: 219px;
    height: 53px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border: 0;
}
.banka button:hover {
    color: #2B7FFF;
    background: #0044ff2a;
    transition-duration: 500ms;
}
.banka span{
    font-weight: 400;
    font-size: 18px;
    color: #011c44;
}
h1 {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 140px;
    line-height: 0.81429;
    text-transform: capitalize;
    color: #2b7fff;
    width: 529px;
    margin: 16px 0 40px 0;
}
.banka p{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #4a4a4a;
    width: 238px;
    margin:14px 0 0 0;
}