* {
  font-family: var(--font-family);
}
body {
  background-image: url(../images/header_banka.jpg),
    url(../images/bcg_why_wave.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top;
  background-position-y: 0, 1325px;
}
.container {
  max-width: 1440px;
  margin: auto;
  // display: block;
}
// p {
//   margin: 0;
// }
h1 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 140px;
  line-height: 0.81429;
  text-transform: capitalize;
  color: var(--brand-color-hero);
  max-width: 529px;
  margin: 16px 0 40px 0;
}
.container-title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 64px;
  color: var(--brand-color-acsent);
  text-align: center;

  &--hero {
    font-family: var(--third-family);
    color: var(--brand-color-hero);
  }
}

.df_col,
.df_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.df_row {
  flex-direction: row;
}
.df_col {
  flex-direction: column;
}
.m0fs {
  margin: 0;
  align-items: flex-start;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  align-items: center;
  transition: color 0.5s, font-weight 0.5s;
  text-align: center;
}
