.footer {
  background-color: var(--brand-color-acsent);
  background-image: url(../images/footer_bcg_texture.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 28px 50px;
  color: var(--brand-color-secondary);

  gap: 15px;
  justify-items: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  @media screen and (min-width: $bp-mobile) {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: start;
  }
  @media screen and (min-width: $bp-tablet) {
    padding: 56px 100px;
    background-image: url(../images/footer_bcg_picture.png),
      url(../images/footer_bcg_texture.svg);
    background-position: bottom right, center;
    background-repeat: no-repeat, no-repeat;
    margin-top: 96px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/footer_bcg_picture@2x.png),
      url(../images/footer_bcg_texture.svg);
  }

  &__nav {
    align-items: center;
    @media screen and (min-width: $bp-mobile) {
      align-items: flex-start;
    }
  }

  &__container {
    max-width: 192px;

    &__contacts {
      display: none;
      @media screen and (min-width: $bp-tablet) {
        display: flex;
      }
    }

    &__icons {
      justify-content: space-between;
      width: 100%;
      gap: 10px;

      &__item {
        max-width: 32px;
        max-height: 32px;
      }

      & .footer__link svg {
        transition-duration: 0.5s;
      }

      & .footer__link:hover {
        transform: scale(1.2);
        transition-duration: 0.5s;
      }
    }
  }

  &__link {
    color: var(--brand-color-secondary);
    fill: var(--brand-color-secondary);
    font-weight: 400;
    font-size: 18px;
    text-align: start;
    transition-duration: 0.2s;
    &:hover {
      color: var(--brand-color-hero);
      fill: var(--brand-color-hero);
      font-weight: 700;
      animation: none;
    }
  }
  &__copyright {
    align-items: center;
    @media screen and (min-width: $bp-mobile) {
      align-items: flex-start;
    }

    &__link {
      color: var(--brand-color-secondary);
      &--acsent {
        margin-top: 16px;
        color: var(--howerboard-color);
      }
      &:hover {
        color: var(--brand-color-hero);
        font-weight: 700;
      }
    }
  }
}
.footer__nav__item:not(:last-child),
.footer__container__contacts__item:not(:last-child),
.footer__container__image__item:not(:last-child) {
  margin-bottom: 16px;
}
.footer__container__contacts__item:last-child {
  margin-bottom: 16px;
}
