.procedures {
  margin-top: 40px;
  padding: 0 20px;
  @media screen and (min-width: $bp-tablet) {
    padding: 0;
    margin-top: 96px;
  }

  & .container-title {
    margin-bottom: 40px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 49px;
    }
  }
}
