@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format('ttf');
    font-weight: normal; 
	font-style: normal; 
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format('ttf');
    font-weight: normal; 
	font-style: normal;
}
@font-face {
    font-family: 'Play';
    src: url(../fonts/Play/Play-Regular.ttf) format('ttf');
    font-weight: normal; 
	font-style: normal;
}
html{
    scroll-behavior: smooth;
}
* {
    width: auto;
	margin: auto;
    --font-family: "Roboto", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Play", sans-serif;
    font-family: var(--font-family);
}
body {
    background-image: url(../images/header_banka_css.jpg);
    background-repeat: no-repeat;
    background-position: top;
    max-width: 1440px;
}
.df_row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    flex-direction: row;
}
.df_col{
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}
a {
    text-decoration:none;
	display: flex;
	justify-content: center;
	align-items: center;
    font-weight: 400;
    font-size: 18px;
    color: #011c44;
}
header {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
    /* fixed navbar */
    /* width: 1440px;
    position: fixed; */
}
nav {
    display: flex;
    padding: 32px 0;
}
ul {
    padding: 0;
}
li {
	list-style:none;
}
nav ul {
    display: flex;
}
.menu li {
    padding: 0 28px;
}
.contacts li {
    padding: 0 16px;
}
nav .active {
    color: #2b7fff;
}
nav a:hover {
    color:blue;
}
.contacts img:hover {
    transform: scale(120%);
    transition-duration: 1s;
}
.banka {
    padding: 17px 0 0 205px;
    /* fixednavbar */
    /* margin-top: 101px; */
}
.banka span {
    font-weight: 400;
    font-size: 18px;
    color: #011c44;
}
h1 {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 140px;
    line-height: 0.81429;
    text-transform: capitalize;
    color: #2b7fff;
    max-width: 529px;
    margin: 16px 0 40px 0;
}
.banka button {
    background: #2B7FFF;
    border-radius: 32px;
    width: 219px;
    height: 53px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border: 0;
}
.banka button:hover {
    color: #2B7FFF;
    background: #0044ff2a;
    transition-duration: 500ms;
}

.banka p {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #4a4a4a;
    max-width: 238px;
    margin:14px 0 0 0;
}
.about {
    display: flex;
    margin: 126px 100px 0 100px;
}
.about_p {
    margin: 0;
}
h2 {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 64px;
    color: #011c44;
}
.about h2 {
    max-width: 530px;
    margin: 40px 0 0 0;
}
h2 span {
    text-transform: capitalize;
    color: #2b7fff;
}
.about p {
    margin-top: 40px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 1.72727;
    color: #011c44;
    max-width: 710px;
}
.about p span {
    font-weight: 600;
    text-transform: capitalize;
}
.about_img {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    align-items: flex-start;
    width: 499px;
}
.about article{
    margin: 0;
}
.about_img ul {
    display: flex;
    flex-direction: column;
}
.about_img img {
    max-width: 327px;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.2);
}
.after {
    align-self: end;
}
.why_we h2{
    max-width: 432px;
    text-align: center;
}
.procedures h2{
    text-align: center;
}
.procedures article{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 1.18182;
    text-align: center;
    color: #fff;
    border-radius: 120px 4px;
    width: 344px;
    height: 456px;
    background: linear-gradient(180deg, rgba(1, 28, 68, 0) 47.4%, rgba(1, 28, 68, 0.73) 82.66%, #011c44 99.06%);
    display: flex;
    align-items: end;
    justify-content: center;    
}
.procedures h3{
    margin: 0;
}