/* fonts */
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Play;
  src: url(../fonts/Play/Play-Bold.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* global tags */
:root {
  scroll-behavior: smooth;
  --font-family: Roboto, sans-serif;
  --second-family: Poppins, sans-serif;
  --third-family: Play, sans-serif;
  --brand-color-hero: #2b7fff;
  --brand-color-acsent: #011c44;
  --brand-color-secondary: #fff;
  --howerboard-color: #747272;
}
* {
  width: auto;
  margin: auto;
  font-family: var(--font-family);
}
body {
  background-image: url(../images/header_banka_css.jpg),
    url(../images/bcg_why_wave.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top;
  background-position-y: 0, 1325px;
  max-width: 1440px;
}
p {
  margin: 0;
}
h1 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 140px;
  line-height: 0.81429;
  text-transform: capitalize;
  color: var(--brand-color-hero);
  max-width: 529px;
  margin: 16px 0 40px 0;
}
h2 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 64px;
  color: var(--brand-color-hero);
  text-align: center;
}
.h2_acsent {
  font-family: var(--third-family);
  color: var(--brand-color-acsent);
}
.df_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.df_col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.howerboard {
  color: var(--howerboard-color);
}
button {
  border: 2px solid var(--brand-color-hero);
  background-color: var(--brand-color-hero);
  border-radius: 32px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: var(--brand-color-secondary);
}
button:hover {
  color: var(--brand-color-acsent);
  background-color: transparent;
  transition-duration: 500ms;
  cursor: pointer;
}
/* header with nav */
header {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
  /* fixed navbar */
  /* width: 1440px;
    position: fixed; */
}
nav {
  display: flex;
  padding: 32px 0;
}
.menu li {
  padding: 0 28px;
}
.contacts li {
  padding: 0 16px;
}
.link_header {
  font-weight: 400;
  font-size: 18px;
  color: var(--brand-color-acsent);
}
nav a:hover {
  color: var(--brand-color-hero);
  font-weight: 700;
}
.contacts img:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}
/* banner section */
.banka {
  padding: 17px 0 0 205px;
  /* fixednavbar */
  /* margin-top: 101px; */
}
.banka span {
  font-weight: 400;
  font-size: 18px;
  color: #011c44;
}
.banka button {
  width: 219px;
  height: 53px;
}
.banka p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #4a4a4a;
  max-width: 238px;
  margin: 14px 0 0 0;
}
.banka label {
  cursor: pointer;
}
/* sectioun about us */
.about {
  display: flex;
  padding: 126px 100px 0 100px;
  background-image: url(../images/bcg_star_brand.svg),
    url(../images/bcg_star_grey.svg), url(../images/bcg_star_secondary.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position-x: 95%, 94%, 70%;
  background-position-y: 21%, 49%, 62%;
}
.about_hero {
  text-transform: capitalize;
  font-family: var(--third-family);
}
.about h2 {
  max-width: 530px;
  margin: 40px 0 0 0;
  font-weight: 700;
  text-align: start;
}
.about p {
  margin-top: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.72727;
  color: var(--brand-color-acsent);
  max-width: 710px;
}
.about_img {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  align-items: flex-start;
  width: 499px;
}
.about div {
  margin: 0;
}
.about_img ul {
  display: flex;
  flex-direction: column;
}
.about_img img {
  max-width: 327px;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.2);
}
.after {
  align-self: end;
  padding-top: 40px;
}
/* section wy whe */
.why_we {
  padding-top: 176px;
}
.why_we h2 {
  max-width: 432px;
}
.why_we div {
  margin-top: 48px;
}
.why_we li {
  width: 316px;
  height: 181px;
}
.arguments_cards {
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background: var(--brand-color-secondary);
  padding: 24px 32px;
  height: 133px;
  display: flex;
  flex-direction: column;
}
.arguments_cards img {
  margin: 0 auto 8px auto;
  width: 48px;
  height: 48px;
}
.arguments_cards h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #000;
}
/* section with procedures */
.procedures {
  margin-top: 96px;
}
.procedures h2 {
  margin-bottom: 49px;
}
.procedures article {
  display: flex;
  border-radius: 4px 120px;
  width: 344px;
  height: 456px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%
  );
  align-items: flex-end;
  justify-content: center;
}
.procedures h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
  color: var(--brand-color-secondary);
  margin: 0 0 32px 0;
  max-width: 152px;
}
.procedures img {
  position: absolute;
  z-index: -1;
}
/* section with contacts map and feedback form */
.find_us {
  margin-top: 96px;
}
.find_us h2 {
  margin-bottom: 48px;
}
.map iframe {
  width: 605px;
  height: 481px;
  border-radius: 32px;
  margin-right: 32px;
}
.sign_up {
  height: 482px;
  width: 422px;
  background-color: var(--brand-color-acsent);
  border-radius: 32px;
  background-image: url(../images/sign_up_texture.svg);
}
form {
  padding: 48px 56px;
}
.find_us h3 {
  color: var(--brand-color-secondary);
  text-align: center;
  max-width: 274px;
  font-size: 22px;
  font-family: var(--font-family);
  font-weight: 600;
  margin-bottom: 32px;
}
.find_us h3 span {
  color: var(--brand-color-hero);
}
/* .sign_up li {
    margin-bottom: 16px;
    border: 2px solid #747272;
    border-radius: 32px;
    width: 310px;
    height: 52px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: var(--brand-color-secondary);
    display: flex;
} */
.sign_up input:focus {
  background-color: #747272;
}
.sign_up a {
  color: #747272;
}
.sign_up button {
  border-radius: 32px;
  width: 281px;
  height: 53px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
}
.sign_up button:hover {
  color: var(--brand-color-secondary);
}
.sign_up input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  /* margin: 16px 32px auto 32px; */
  margin-bottom: 16px;
  background-color: transparent;
  width: 310px;
  height: 52px;
  padding-left: 24px;

  color: var(--brand-color-secondary);

  border: 2px solid #747272;
  border-radius: 32px;
  width: 310px;

  display: flex;
  outline: none;
}
.sign_up input::placeholder {
  color: var(--brand-color-secondary);
}
/* footer */
footer {
  background-color: var(--brand-color-acsent);
  background-image: url(../images/footer_bcg_picture.png),
    url(../images/footer_bcg_texture.svg);
  background-position: bottom right, center;
  background-repeat: no-repeat, no-repeat;
  height: 278px;
  color: var(--brand-color-secondary);
  margin-top: 96px;
}
.foot_menu {
  justify-content: space-evenly;
  justify-items: start;
  padding-top: 56px;
  align-items: flex-start;
}
.foot_menu div {
  margin: 0;
}
.foot_menu li {
  margin: 0 0 16px 0;
}
.link_footer {
  color: var(--brand-color-secondary);
  font-weight: 400;
  font-size: 18px;
}
.link_footer:hover {
  color: var(--brand-color-hero);
  font-weight: 700;
}
.link_contakt_footer:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}
.foot_nav ul {
  align-items: flex-start;
}
.fcontacts {
  max-width: 192px;
}
.fcontacts ul:first-child {
  align-items: flex-start;
}
.fcontacts_icons {
  justify-content: space-between;
  width: 100%;
}
.copyright {
  align-items: flex-start;
}
.copyright a {
  color: var(--brand-color-secondary);
}
.copyright a:hover {
  color: var(--brand-color-hero);
  font-weight: 700;
}
.howerboard {
  margin: 8px 0 0 0;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  max-width: 213px;
}
.howerboard span {
  text-decoration: underline;
}
/* modal window */
.modal {
  box-sizing: border-box;
  height: 723px;
  width: 681px;
  padding: 42px 144px;
  background-color: var(--brand-color-acsent);
  border-radius: 32px;
  background-image: url(../images/modal_bcg.svg);
  position: relative;
}
.modal h2 {
  color: var(--brand-color-secondary);
  font-weight: 700;
  font-size: 64px;
  max-width: 435px;
}
.modal h3 {
  color: var(--brand-color-secondary);
  text-align: center;
  max-width: 274px;
  font-size: 22px;
  font-family: var(--font-family);
  font-weight: 600;
  margin-bottom: 32px;
}
.modal h3 span {
  color: var(--brand-color-hero);
}
.modal input:focus {
  background-color: #747272;
}
.modal a {
  color: #747272;
}
.modal button {
  border-radius: 32px;
  width: 281px;
  height: 53px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
}
.modal button:hover {
  color: var(--brand-color-secondary);
}
.modal input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  /* margin: 16px 32px auto 32px; */
  margin-bottom: 16px;
  background-color: transparent;
  width: 310px;
  height: 52px;
  padding-left: 24px;

  color: var(--brand-color-secondary);

  border: 2px solid #747272;
  border-radius: 32px;
  width: 310px;

  display: flex;
  outline: none;
}
.modal input::placeholder {
  color: var(--brand-color-secondary);
}
/* hide checkbox */
#modal_checkbox {
  display: none;
}
/* #modal-checkbox + form {
  display: none;
} */
.modal_form {
  display: none;
  padding: 0;
}
#modal_checkbox:checked + .modal_form {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: bg 1s ease;
  background: rgb(30, 140, 250, 0.7);
}
#modal_checkbox:checked + form .modal {
  transition: 0.5s;
  overflow: auto;
  animation: scale 0.5s ease;
}
.modal_close {
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 10;
  top: 42px;
  right: 42px;
  background-image: url(../images/close_modal.svg);
  background-size: cover;
  cursor: pointer;
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bg {
  0% {
    background: rgba(30, 140, 250, 0);
  }
  100% {
    background: rgba(30, 140, 250, 0.7);
  }
}
/* @media or bootstrap */
